.admin-sidebar{
    height: 100%;
    padding: 0;
}
.btn-custom {
    background-color: #00bd9d!important;
    color:white;
}
@media (min-width: 1200px){
    .right-side {
        min-height: 852px!important;
    }
    }