<!--Navbar-->
<mdb-navbar SideClass="admin-sidebar navbar navbar-expand-lg navbar-dark stylish-color" [containerInside]="false" >

    <ul class="nav flex-column  lighten-4 ">
        <li class="text-center  nav-item py-3">
            <a class="nav-link"  routerLink="home" >
                <mdb-icon size="2x" fas icon="home"></mdb-icon>
              <p class="sideP"> Dashboard</p> 
            </a>
        </li>
        <li class="text-center nav-item py-3">
            <a class="nav-link" routerLink="categories" >
                <mdb-icon size="2x" fas icon="tags"></mdb-icon>
                <p class="sideP"> Categories</p> 
                
            </a>
        </li>
        <li class="text-center nav-item py-3">
            <a class="nav-link" routerLink="sellers" >
                <mdb-icon size="2x"  fas icon="users-cog"></mdb-icon>
                <p class="sideP"> Vendeurs</p> 
                
            </a>
        </li>
        <li class="text-center  nav-item py-3">
            <a class="nav-link " routerLink="customers">
                <mdb-icon size="2x" fas icon="users"></mdb-icon>
                <p class="sideP"> Clients</p> 
                
            </a>
        </li>
    </ul>
  
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
