<!--Main Navigation-->
<header class="intro-header">

 
  
    <!--Intro Section-->
    <section class="view intro-2">
      <div class="full-bg-img mask rgba-gradient">
        <div class="container flex-center">
          <div class="d-flex align-items-center content-height w-100">
            <div class="row flex-center w-100">
              <div class="col-md-6 col-xl-5 offset-xl-1">
                <!--Form-->
                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                  <div *ngIf="signup" class="card-body">
                    <!--Header-->
                    <div class="text-center">
                      <h3 class="white-text"><i class="fas fa-user white-text"></i> Inscription </h3>
                      <hr class="hr-light">
                    </div>
                    <div #alert *ngIf="success" class="alert alert-success" role="alert">
                        <button type="button" class="close" aria-label="Close" (click)="success=false">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          Votre inscription a bien été enregistrée, 
                      </div>
                    <form  [formGroup]="signupFormGroup">
                       
                    <!--Body-->
                    <div class="md-form">
                      <i class="fas fa-user prefix white-text"></i>
                      <input type="text" id="firstname" class="form-control" formControlName="firstname" mdbInput>
                      <label for="form3">Votre prenom</label>
                      <div class="error"  *ngIf="signupFormGroup.controls['firstname'].invalid && (signupFormGroup.controls['firstname'].dirty || signupFormGroup.controls['firstname'].touched)">
                          <mdb-error  *ngIf="signupFormGroup.controls['firstname'].errors.required">Le prenom est obligatoire </mdb-error>
                      </div>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-user prefix white-text"></i>
                        <input type="text" id="lastname" class="form-control" formControlName="lastname" mdbInput>
                        <label for="form3">Votre nom</label>
                        <div class="error"   *ngIf="signupFormGroup.controls['lastname'].invalid && (signupFormGroup.controls['lastname'].dirty || signupFormGroup.controls['lastname'].touched)">
                            <mdb-error  *ngIf="signupFormGroup.controls['lastname'].errors.required">Le nom est obligatoire </mdb-error>
                        </div>
                      </div>
                      <div class="md-form">
                          <i class="fas fa-phone prefix white-text"></i>
                          <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber" mdbInput>
                          <label for="form3">Votre numero de telephone</label>
                          <div class="error"   *ngIf="signupFormGroup.controls['phoneNumber'].invalid && (signupFormGroup.controls['phoneNumber'].dirty || signupFormGroup.controls['phoneNumber'].touched)">
                              <mdb-error  *ngIf="signupFormGroup.controls['phoneNumber'].errors.required">Le numero de telephone est obligatoire </mdb-error>
                              <mdb-error  *ngIf="signupFormGroup.controls['phoneNumber'].hasError('hasNumber')">Le numero de telephone est invalide </mdb-error>
                            </div>
                        </div>
                    <div class="md-form">
                      <i class="fas fa-envelope prefix white-text"></i>
                      <input type="text" id="mail" class="form-control" formControlName="mail" mdbInput>
                      <label for="form2">Votre email</label>
                      <div class="error"   *ngIf="signupFormGroup.controls['mail'].invalid && (signupFormGroup.controls['mail'].dirty || signupFormGroup.controls['mail'].touched)">
                          <mdb-error  *ngIf="signupFormGroup.controls['mail'].errors.required">L'email est obligatoire </mdb-error>
                          <mdb-error *ngIf="signupFormGroup.controls['mail'].errors.email">Format Email invalide </mdb-error>
                      </div>
                    </div>
  
                    <div class="md-form">
                      <i class="fas fa-lock prefix white-text"></i>
                      <input type="password" id="password" class="form-control" formControlName="password" mdbInput>
                      <label for="form4">Votre mot de passe</label>
                      <div class="error"   *ngIf="signupFormGroup.controls['password'].invalid && (signupFormGroup.controls['password'].dirty || signupFormGroup.controls['password'].touched)">
                          <mdb-error  *ngIf="signupFormGroup.controls['password'].errors.required">Le mot de passe est obligatoire </mdb-error>
                          <mdb-error *ngIf="signupFormGroup.controls['password'].errors.minlength">Nombre de caracteres invalide (minimum 8 caracteres ) </mdb-error>
                     <mdb-error *ngIf="signupFormGroup.controls['password'].hasError('hasNumber') ">Doit contenir au moins 1 chiffre!</mdb-error>
                     <mdb-error *ngIf=" 
                     signupFormGroup.controls['password'].hasError('hasSmallCase')">Doit contenir au moins 1 lettre </mdb-error>
                        </div>
                    </div>
                    <div class="md-form text-center">
                        <!-- Register -->
                    <p style="color: white">Deja un  vendeur?
                       <a style="color: #00bd9d" (click)="signinFormGroupBuild();signup=false">S'authentifier</a>
                        </p>
                     </div>
                    <div class="text-center">
                      <button (click)="signUp()" mdbBtn style="background-color: #00bd9d;" class="btn waves-light" mdbWavesEffect>S'inscrire</button>
                    <!--  <hr class="hr-light mb-3 mt-4">
  
                       <div class="inline-ul text-center d-flex justify-content-center">
                        <a class="icons-sm tw-ic px-4"><i class="fab fa-twitter white-text"></i></a>
                        <a class="icons-sm li-ic px-4"><i class="fab fa-linkedin-in white-text"> </i></a>
                        <a class="icons-sm ins-ic px-4"><i class="fab fa-instagram white-text"> </i></a>
                      </div> -->
                    </div>
                  </form>
                  </div>
                  <div *ngIf="!signup" class="card-body">
                      <!--Header-->
                      <div class="text-center">
                        <h3 class="white-text"><i class="fas fa-user white-text"></i> Authentification</h3>
                        <hr class="hr-light">
                      </div>
                      <form [formGroup]="signinFormGroup">
                      <!--Body-->
                      <div *ngIf="error2" class="alert alert-danger" role="alert">
                          Votre Compte est desactivee!
                        </div>
                      <div class="md-form">
                        <i class="fas fa-envelope prefix white-text"></i>
                        <input type="text" id="mail" class="form-control" formControlName="mail" mdbInput>
                        <label for="form2">Votre email</label>
                        <mdb-error *ngIf="error">Mot de passe ou email invailde</mdb-error>
                      </div>
    
                      <div class="md-form">
                        <i class="fas fa-lock prefix white-text"></i>
                        <input type="password" id="password" class="form-control" formControlName="password" mdbInput>
                        <label for="form4">Votre mot de passe</label>
                        <mdb-error *ngIf="error">Mot de passe ou email invailde</mdb-error>
                      </div>
                      <div class="md-form text-center">
                           <!-- Register -->
                       <p style="color: white">Nouveau vendeur?
                          <a style="color: #00bd9d" (click)="signupFormGroupBuild();signup=true">S'inscrire</a>
                           </p>
                        </div>
                      
                     
                      <div class="text-center">
                        <button (click)="signin()"  mdbBtn style="background-color: #00bd9d;" class="btn waves-light" mdbWavesEffect>Se connecter</button>
                    
                      </div>
                    </form>
                    </div>
                </div>
                <!--/.Form-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  </header>
  <!--Main Navigation-->