<h3 class="mb-4 h3-responsive ">La liste des vendeurs</h3>

<table id="orders" class="table table-bordered table-responsive-md table-striped text-center">
  <tr>
    <th class="text-center">#</th>
    <th class="text-center"> Nom et Prenom  </th>
    <th class="text-center">Email</th>
    <th class="text-center">Numero de telephone</th>
    <th class="text-center">Compte</th>
    <th class="text-center">Action</th>
  </tr>
  <tr *ngFor="let seller of sellers; let id = index ;">
    <td>
      <span>{{id+1}}</span>
    </td>
    <td>
      <span>{{seller.firstname }} {{seller.lastname }}</span>
    </td>
    <td>
        <span> {{seller.mail }}</span>
      </td>
      <td>
          <span> {{seller.phoneNumber }}</span>
        </td>
    <td>
       <span *ngIf="seller.isActive">Activé</span>
      <span *ngIf="!seller.isActive">Désactivé</span> 
    </td>
  
 
    <td>
      <span class="table-remove">
        <button type="button" mdbBtn color="primary" rounded="true" size="sm" class="my-0 btn-custom" data-toggle="modal" data-target="#basicExample"  (click)="show(seller)" mdbWavesEffect ><mdb-icon fas icon="list"></mdb-icon></button>
       </span>
</td>
   </tr>
</table>


<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header btn-custom">
        <p class="heading lead">{{selectedSeller.firstname}} {{selectedSeller.lastname}}</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->

      <div class="modal-body mx-3 ">
     
      <div class="md-form mb-4 mt-0">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="defaultForm-email"  [(ngModel)]="selectedSeller.mail" [ngModelOptions]="{standalone: true}" 
          class="form-control" disabled  mdbInput>
          <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
        </div>

      <div class="md-form mb-4 mt-0">
          <mdb-icon fas icon="mobile-alt" class="grey-text"></mdb-icon>
        <input type="text"  class="form-control"  [(ngModel)]="selectedSeller.phoneNumber" 
        [ngModelOptions]="{standalone: true}" disabled  mdbInput>
        <label data-error="wrong" data-success="right" for="defaultForm-pass">Numero de telephone</label>
      </div>
    
  <div class="md-form mb-4 mt-0">
      <mdb-icon fas icon="map-marker-alt" class="grey-text"></mdb-icon>
 
    <input type="text"  class="form-control "  [(ngModel)]="selectedSeller.address" 
    [ngModelOptions]="{standalone: true}" disabled  mdbInput>
    <label data-error="wrong" data-success="right" for="defaultForm-pass">Addresse</label>
  </div>
  <div class="row">
      <!-- Grid column -->
      <div class="col">
             <div class="md-form mb-4 mt-0">
            <mdb-icon far icon="building" class="grey-text"></mdb-icon>
            
            <input type="text"   [(ngModel)]="selectedSeller.companyName" [ngModelOptions]="{standalone: true}" 
            class="form-control " disabled  mdbInput>
            <label data-error="wrong" data-success="right" for="defaultForm-email">Entreprise</label>
          </div>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col">
          
          <div class="md-form mb-4 mt-0">
              <mdb-icon far icon="address-card" class="grey-text"></mdb-icon>
            <input *ngIf="selectedSeller.isActive" type="text"  class="form-control "  value="Activé" disabled  mdbInput>
            <input *ngIf="!selectedSeller.isActive" type="text"  class="form-control "  value="Désactivé" disabled  mdbInput>
            <label data-error="wrong" data-success="right" for="defaultForm-pass">Compte</label>
          </div>
      </div>
      <!-- Grid column -->
    </div>
    <div class="row">
        <!-- Grid column -->
        <div class="col">
               <div class="md-form mb-4 mt-0">
              <mdb-icon fab icon="product-hunt" class="grey-text"></mdb-icon>
              <input *ngIf="selectedSeller.products !== undefined" type="text"   [(ngModel)]="selectedSeller.products.length" [ngModelOptions]="{standalone: true}" 
              class="form-control " disabled  mdbInput>
              <label data-error="wrong" data-success="right" for="defaultForm-email">Produits</label>
            </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col">
            
            <div class="md-form mb-4 mt-0">
                <mdb-icon fas icon="clipboard-list" class="grey-text"></mdb-icon>
              <input type="text"  class="form-control "  *ngIf="selectedSeller.orders !== undefined"
                [(ngModel)]="selectedSeller.orders.length" [ngModelOptions]="{standalone: true}" disabled  mdbInput>
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Commandes</label>
            </div>
        </div>
        <!-- Grid column -->
      </div>
           
      
          
        
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a (click)="change(false)"  *ngIf="selectedSeller.isActive" type="button" mdbBtn color="primary" class="waves-light btn-custom" mdbWavesEffect>Desactiver le compte
            <mdb-icon fas icon="times"></mdb-icon>
        </a>
        <a (click)="change(true)"  *ngIf="!selectedSeller.isActive" type="button" mdbBtn color="primary" class="waves-light btn-custom" mdbWavesEffect>Activer le compte
            <mdb-icon fas icon="check"></mdb-icon>
          </a>
        <a type="button" mdbBtn color="primary" outline="true" class="custom waves-effect" mdbWavesEffect (click)="frame.hide()">Fermer</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>